body{
	background-color: #fafafa;
}

/* (side) profile */
#profile{
	width: 35%;
	position: fixed;
	background-color: #1e1e1e;
	height: 100%;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 5px solid white;
}

#img-profile{
	height: 150px;
	border-radius: 100%;
    position: relative;
	display: block;
	margin: 0 auto;
	top: 39px;
	opacity: 0.8;
}

#profession{
	font-size: 1.3em;
	padding: 15px;
}

#profile-name{

}

.profile-base-style{
	font-family: 'Unica One', cursive;
	text-align: center;
	color: white;
	padding: 15px;
}

.profile-base-style li{
	padding: 5px;
}

#links{
	padding: 5px;
	font-size: 1.3em;
}

#profile-name{
	font-size: 2.4em;
}

.profile-hr{
	width: 90%;
	max-width: 300px;
}

/* resume */
#resume{
	background-color: #fafafa;
	font-family: 'Glegoo', serif;
	width: 65%;
	height: 100vh;
	overflow: scroll;
	left:35%;
	color: #232;
	position: relative;
}
#resume-container{
	margin: 60px 0 0 60px;
}


.resume-item p{
	padding: 35px 65px;
	letter-spacing: 0.04em;
	line-height: 155%;
	font-weight: 300;
}

.resume-item small{
	font-size: 0.8em;
	color: #989;
	padding-left: 30px ;
}

.content-divider{
	background-color: #ddd;
	height: 1px;
	margin-top: -8px;
	margin-left: 60px;
}

.block-divider{
	height: 5px;
	margin-bottom: 2%;
	background-color: #1e1e1e;

}

/*end resume */

/* Links */
a{
	color: white;
	text-decoration: none;
}a:hover{
	color: #DA958D;
}a:visited{
	/*color: #DAAFAD;*/
}a:active {
    color: #D97F7C;
}


/* @media queries */
@media (max-width: 780px){
	body{
		max-width: 100%;
	}
	#profile{
		max-width: 100%;
		width: 100%;
		position: relative;

	}
	#resume{
		left: 0;
		width: 100%;
		overflow: initial;
	}
	#resume-container{
		margin: 5px 0 15px 5px;
	}

	#resume-container p{
		font-size: 0.9em;
		padding: 25px 10px 20px 30px;
	}

	.block-divider{
		margin-bottom: 10%;
	}


}