body{
	background-color: #fafafa;
}

/* (side) profile */
#profile{
	width: 35%;
	position: fixed;
	background-color: #1e1e1e;
	height: 100%;
	display: table;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 5px solid white;
}
#profile-container{
   display: table-cell;
   vertical-align: middle;
   padding: 10%;
}

#img-profile{
	height: 200px;
	/*border-radius: 100%;*/
    position: relative;
	display: block;
	margin: 0 auto;
	opacity: 0.9;
}

#profile-name{
	font-size: 1.6em;
	margin-bottom: -10px; 
}

#profession{
	font-size: 1.8em;
	padding: 8px;
	letter-spacing: 2.6px;
}

.profile-basics {
	font-family: 'Unica One', cursive;
	text-align: center;
	color: white;
	padding: 15px;
}

.profile-basics  li{
	font-size: 1.12em;
	padding: 5px;
}

.bigger{
	letter-spacing: 1.5px;
}

#links{
	padding: 5px;
	font-size: 1.3em;
}

.profile-hr{
	width: 90%;
	max-width: 200px;
}

/* resume */
#resume{
	background-color: #fafafa;
	font-family: 'Glegoo', serif;
	width: 65%;
	overflow: scroll;
	left:35%;
	color: #232;
	position: relative;

}
#resume-container{
	margin: 90px 0 0 60px;
}

.resume-item{
	margin-bottom: 30px
}

.resume-item p{
	padding: 35px 60px;
	letter-spacing: 0.04em;
	line-height: 155%;
	font-weight: 300;
}

.resume-item small{
	font-size: 0.8em;
	color: #989;
	padding-left: 60px ;
}

.content-divider{
	background-color: #ddd;
	height: 1px;
	margin-top: -8px;
	margin-left: 60px;
}


/*end resume */

/* Links */
a{
	color: white;
	text-decoration: none;
}a:hover{
	color: #DA958D;
}a:visited{
	/*color: #DAAFAD;*/
}a:active {
    color: #D97F7C;
}


/* @media queries */
@media (max-width: 780px){
	body{
		max-width: 100%;
	}
	#profile{
		max-width: 100%;
		width: 100%;
		position: relative;

	}
	#resume{
		left: 0;
		top: 40px;
		width: 100%;
		overflow: initial;
	}
	#resume-container{
		margin: -10px 5px 15px 5px;
	}

	#resume-container p{
		font-size: 0.9em;
		padding: 25px;
	}

	#resume-container h3{
		padding: 0 25px;
	}

	.resume-item small{
		padding-left: 25px;
	}

	.content-divider{
		margin-left: 75px;
	}


}